
<!DOCTYPE html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }} - {% endif %}CL's 疯人云笔记</title>
    <meta name="author" content="{% if author %}{{ author }}{% else %}CL{% endif %}" />
    <meta name="description" content="{% if description %}{{ description }}{% else %}一个注重内容的云笔记本，永久免费{% endif %}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ CDN_URL }}/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ CDN_URL }}/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ CDN_URL }}/static/css/jstree.min.css">
    <link rel="stylesheet" href="{{ CDN_URL }}/static/notebook/jstree.custom.css">
    <link rel="stylesheet" href="{{ CDN_URL }}/static/notebook/main.css">

    <script type="text/javascript" src="{{ CDN_URL }}/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ CDN_URL }}/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ CDN_URL }}/static/js/jstree.min.js"></script>
    <script type="text/javascript" src="{{ CDN_URL }}/static/js/marked.js"></script>
    <script type="text/javascript" src="{{ CDN_URL }}/static/notebook/main.js"></script>
    <script>
        window.CDN_URL = "{{ CDN_URL }}";
        window.contextData = {};
        window.contextData.loginInfo = {% if login_info %}{{ login_info }}{% else %}false{% endif %};
    </script>
</head>

<body>
    <div id="uavaliable-mask">此应用不支持在移动设备上使用。<a href="/">点击这里返回主页</a>。</div>
    <div id="browser-prompt">此应用仅保证Safari 11.0.2和Chrome 51.0及其更新版本的兼容性。系统检测到您的浏览器不在上述的列表中，如有显示错乱等问题，欢迎将错误发送至i#caoliang.net。
        <a>关闭提示</a>
    </div>
    <div id="nav">
        <div class="left-nav">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i> 首页</a>
            <span id="top-dynamic-nav"></span>
        </div>
        <div class="right-nav"></div>
    </div>
    <div id="content">
        <div id="folder-tree"><div id="jstree-outdent"><i class="fa fa-angle-double-left" aria-hidden="true"></i> 收起目录</div><div id="jstree"></div></div>
        <div id="show-folder-tree"><div id="show-folder-tree-p"><i class="fa fa-angle-double-right" aria-hidden="true"></i><br>展<br>开<br>目<br>录</div> </div>
        <div id="sub-content">
            <div id="input-area"><div class="textarea-title">编辑</div><textarea id="input-text-area" type="text" name="detail"></textarea></div>
            <div id="content-area"><div class="textarea-title">预览</div><div id="content-text"></div></div>
        </div>
    </div>

    <div class="cl-prompt">
        <div class="cl-prompt-clock"><span>0</span> 秒后自动关闭</div>
        <div class="cl-prompt-close">X</div>
        <div class="cl-prompt-header"><h4 id="cl-prompt-title"></h4></div>
        <div class="cl-prompt-body"><p id="cl-prompt-content"></p></div>
    </div>
    <div id="cl-confirm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="cl-confirm-title">提示</h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <p id="cl-confirm-body">确定要继续吗？</p>
                    <button class="button center" id="cl-confirm-cnf-btn">确定</button>
                    <button class="button center" id="cl-confirm-ccl-btn">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div id="login-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="login-or-regist"></h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <p>*请键入正确的邮箱。</p>
                    <div>
                        <label>邮箱: <input class="redinput" type="text" name="email"/></label>
                    </div>
                    <div>
                        <label>密码: <input class="redinput" type="password" name="password"/></label>
                    </div>
                    <button class="button center" id="login-btn">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div id="input-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="input-modal-title"></h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <div id="input-modal-body"></div>
                    <button class="button center" id="input-modal-confirm-btn">确定</button>
                </div>
            </div>
        </div>
    </div>
    <form id="upload-file-form">
        <input type="file" id="file-input" name="file"/>上传
    </form>
    <textarea id="default-file-content" class="hidden-area">

## 疯人云笔记
---

<img src="{{ CDN_URL }}/static/blog/img/blog/20161211/0.jpg" style="width: 100%">

### 开始使用
　　这是一个轻量级、支持分享、无广告的云笔记本。

　　你可以点击右上角的“注册”按钮，设置好你的邮箱和密码，即可登入系统。登入后，你会在页面左侧看到以你的邮箱命名的目录，这是你的根目录。

<img src="{{ CDN_URL }}/static/notebook/readme_img/preview.png" style="width:100%">

　　你可以在你的根目录夹下创建目录、新建文档。这个编辑器是支持markdown语法的，当然也兼容html语法。如果你不知道如何使用markdown语法撰写文档，百度上有诸多优秀的教程，你可以搜索并尝试一下。你可以为你撰写的文档创建一个分享的链接，下图就是这个这个文档分享后的效果。

<img src="{{ CDN_URL }}/static/notebook/readme_img/shareurl.jpg" style="width:100%">

　　你也可以上传你自己的图片、音乐或其他二进制文件。所有的二进制文件均不支持在线预览，但系统可以为这些二进制文件创建一个链接（在左侧目录树结构的文件名上右击，然后点击“分享”），这样一来，你可以把它们的链接嵌入到你自己的文档中，让它绘声绘色，就像本示例一样。

<img src="{{ CDN_URL }}/static/notebook/readme_img/share.png" style="width:100%">

<img src="{{ CDN_URL }}/static/notebook/readme_img/shareprompt.png" style="width:100%">

### 安全和隐私
　　你在madliar.com上保存的所有内容，网站的维护者都尽可能的保护你的隐私，但你的资料依然有可能会其他人查阅，甚至大范围泄露到互联网，你的信息安全在这里并没有充足的保障。所以，请不要在这里上传敏感信息。

### 最后

　　有任何的建议，欢迎发送邮件反馈。反馈邮箱：i@caoliang.net。

---
<p style="color: #ccc">MadNotebook Version 2.0 -
<a href="https://github.com/cl-ei/madliar" style="color: #ccc;text-decoration: underline " target="_blank">MadLiar</a>
 framework powered.
</p>

    </textarea>
</body>
</html>