<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
    html, body{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    #table{
        position: absolute;
    }
    .line-h{
        position: absolute;
        background: white;
        width: 100%;
        height: 2px;
    }
    .line-v{
        position: absolute;
        background: white;
        height: 100%;
        width: 2px;
    }
    </style>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<div id="table"></div>
<script type="text/javascript">
    $(function(){
        window.screen_width = document.body.clientWidth;
        window.screen_height = document.body.clientHeight;
        window.min_size = Math.min(window.screen_width, window.screen_height);
        var table_size = min_size*0.9,
            top = min_size*0.05,
            left = (screen_width - table_size)/2,
            line_width = table_size/14;

        var table = $("#table");
        table.css({
            "width": table_size + "px",
            "height": table_size + "px",
            "top": top,
            "left": left,
            "background": "#ccc",
        });
        var pos = 0;
        for(var i = 0; i < 14; i++){
            $("<div>", {
                class: "line-h",
                style: "top: " + pos + "px"
            }).appendTo(table);
            $("<div>", {
                class: "line-v",
                style: "left: " + pos + "px"
            }).appendTo(table);
            pos += line_width;
        }        
    });
</script>
</body>
</html>